html,
body {
  height: 100%;
  width: 100%;
  width: 100%;
}

body {
  display: grid;
  grid-template-columns: auto 1fr;
}

#nav-bar {
  display: flex;
  flex-direction: column;
  background: #69809c;
  color: var(--navbar-light-primary);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  overflow: hidden;
  user-select: none;

  border-right: rgba(0, 0, 0, 0.295) solid 2px;

}

.dynamic-component{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: #69809c;
}

.dynamic-component-child{
  width: 99%;
  height: 99%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top{
  height: 95%;
}

.bot{
  width: 100%;
  height: 10%;
  text-align: right;
  padding-top: 20px;
}